<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Stereogrammer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Stereogrammer.Properties.Settings>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="ResolutionX" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="ResolutionY" serializeAs="String">
                <value>768</value>
            </setting>
            <setting name="Separation" serializeAs="String">
                <value>128</value>
            </setting>
            <setting name="Depth" serializeAs="String">
                <value>0.33333</value>
            </setting>
            <setting name="RemoveHiddenSurfaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddConvergenceDots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Oversample" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Algorithm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PreserveAspectRatio" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedDepthmap" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedTexture" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedStereogram" serializeAs="String">
                <value />
            </setting>
            <setting name="DepthmapPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TexturePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SterogramPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LicenseAccepted" serializeAs="String">
                <value>False</value>
            </setting>
        </Stereogrammer.Properties.Settings>
    </userSettings>
</configuration>